<body>
	<div class="container">
		<div class="row top-30">
      <div class="col-md-2 col-sm-2">
        <!-- <a class="btn btn-default" href="/blog">Go to Blog</a> -->
      </div>
			<div class="col-md-2 col-sm-2">
        <!-- <a class="btn btn-default" href="/cms">New Post</a> -->
      </div>
    </div>
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<div class="category-container">
					<h1>Categories</h1>
					<table class="table table-striped">
						<thead>
							<tr>
								<th>Category Name</th>
								<th># of Posts</th>
								<th>See Category Votes</th>
								<th>New Post</th>
								<th>Delete Category</th>
							</tr>
						</thead>
						<tbody>
							<tr id="form-row">
								<form id="category-form">
									<td colspan="4">
										<input placeholder="Enter a category" id="category-name" type="text" />
									</td>
									<td><button type="submit" class="btn btn-success">Create New Category</button>
									</td>
								</form>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		</d>
		<!-- Custom Script -->
		<script src="/public/js/cms.js" type="text/javascript"></script>

</body>

</html>