<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Employee Post</title>
    <!-- Latest compiled and minified CSS & JS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/4.0.0/flatly/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/styles.css" media="screen" title="no title">
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container">
        <div class="row top-30">
            <div class="col-md-2 col-sm-2">
                <a class="btn btn-default" href="/login">Go to Login Page</a>
            </div>
            <div class="col-md-2 col-sm-2">
                <!-- <a class="btn btn-default" href="/authors">Manage Authors</a> -->
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <form id="cms">
                    <div class="form-group">
                        <div class="form-group">
                            <label for="employee">Select Employee:</label>
                            <select class="form-control" id="employee">
                            </select>
                        </div>
                        <label for="category">Category:</label>
                        <select class="form-control" id="catgeory">
                        </select>
                        <br />

                        <label for="suggestion">Suggestion:</label>
                        <textarea placeholder="Enter Suggestion Here" class="form-control" rows="10" id="suggestion"></textarea>

                        <br />
                        <button type="submit" class="btn btn-success submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Custom Script -->
    <script src="js/cms.js" type="text/javascript"></script>

</body>

</html>