<div class="container">
    <h4>Dashboard - Welcome, <b>{{user.username}}!</b></h4>

</div>


<div class="container">
    

<div class="auto-jsCalendar clean-theme"
     data-navigator="false"
     data-fdotw="2"></div>

</div>



<script>
    
</script>