
<div class="container">
    <h1>These are the rewards</h1>
</div>


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
        crossorigin="anonymous">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script>  src="https://api.discountapi.com/v2/deals?api_key=mAzPLCrk"
        </script>
    <title>Rewards</title>
</head>

    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner mb-0">
            <div class="carousel-item active">
                <img class="mx-auto d-block w-100 shadow-lg p-3 mb-5 bg-white rounded" src="assets/employee-perks-survey_og.png" alt="First slide">
            </div>
            <div class="carousel-item">
                <img class="mx-auto d-block w-100 shadow-lg p-3 mb-5 bg-white rounded" src="assets/Unique-employee-perks-that-will-take-your-startup-to-another-level-open-graph-980x512.png"
                    alt="Second slide">
            </div>
            <div class="carousel-item">
                <img class="mx-auto d-block w-100 shadow-lg p-3 mb-5 bg-white rounded" src="assets/download2.png" alt="Third slide">
            </div>
            <div class="carousel-item">
                <img class="mx-auto d-block w-100 shadow-lg p-3 mb-5 bg-white rounded" src="assets/download.jpg"
                    alt="Fourth slide">
            </div>
            <div class="carousel-item">
                <img class="mx-auto d-block w-100 shadow-lg p-3 mb-5 bg-white rounded" src="assets/ideas.png" alt="Fifth slide">
            </div>
            <div class="carousel-item">
                <img class="mx-auto d-block w-100 shadow-lg p-3 mb-5 bg-white rounded" src="assets/the-missing-link-between-employee-wellness_1_orig.jpg" alt="Sixth slide">
            </div>
            <div class="carousel-item">
                <img class="mx-auto d-block w-100 shadow-lg p-3 mb-5 bg-white rounded" src="assets/Reward-Your-Employees.jpg"
                    alt="Seventh slide">
            </div>

        </div>
    </div>

<script> 
    $.ajax({
        url: "https://api.discountapi.com/v2/deals?api_key=mAzPLCrk",
        type: "GET",
        data: {
          "$limit" : 100
        }
    }).done(function(data) {
      alert("Retrieved " + data.length + " records from the dataset!");
      // for (i=0; i<100; i++) {
       // if (data[i].community_area === 7) {
        //    var lpdata = data[i].community_area;
        //     console.log(lpdata);
        // }
        // else {
        //     alert("There are no records matching the criteria you have chosen.")
        // }
      console.log(data);

    }});  

</script>


{{!-- <div class="container popup-container">
    <div class="space-90"></div>
    <form method="POST">
      <div class="form-row align-items-center">
        <div class="col-md-3">
          <label class="sr-only" for="inlineFormInput">Reward Query</label>
          <input type="text" class="form-control mb-2" id="inlineFormInput" name="searchTerm" placeholder="Deal Query" value="">
        </div>
        <div class="col-md-6">
          <label class="sr-only" for="inlineFormInput">Location</label>
          <input type="text" class="form-control mb-2" id="inlineFormInput" name="location" placeholder="Location (e.g. 'IP', 'San Francisco, CA', '1.2.3.4')" value="San Francisco, CA">
        </div>
        <div class="col-md-3">
          <button type="submit" class="btn btn-primary mb-2">Search</button>
        </div>
      </div>
    </form>

    <div class="row">
        <div class="col-md-3 margin-b-30" style="width:250px;height:250px;">
            <a href="https://api.discountapi.com/v2/deals/801547/click?">
                <img src="https://api.discountapi.com/v2/deals/801547/image?&amp;geometry=250x250C" alt="" class="img-fluid">
                <div class="dealOverlay">
                    <div class="dealOverlayText">
                    <b>"You Mean to Do Me Harm"</b>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-3 margin-b-30" style="width:250px;height:250px;">
            <a href="https://api.discountapi.com/v2/deals/592131/click?">
                <img src="https://api.discountapi.com/v2/deals/592131/image?&amp;geometry=250x250C" alt="" class="img-fluid">
                <div class="dealOverlay">
                    <div class="dealOverlayText">
                    <b>Invisalign or Orthodontic Treatment at OrthoWorks Invisalign and Orthodontic Group (Up to 96% Off)</b>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-3 margin-b-30" style="width:250px;height:250px;">
            <a href="https://api.discountapi.com/v2/deals/801531/click?">
                <img src="https://api.discountapi.com/v2/deals/801531/image?&amp;geometry=250x250C" alt="" class="img-fluid">
                <div class="dealOverlay">
                    <div class="dealOverlayText">
                    <b>"The Play's the Thing"</b>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-3 margin-b-30" style="width:250px;height:250px;">
            <a href="https://api.discountapi.com/v2/deals/795924/click?">
                <img src="https://api.discountapi.com/v2/deals/795924/image?&amp;geometry=250x250C" alt="" class="img-fluid">
                <div class="dealOverlay">
                    <div class="dealOverlayText">
                    <b>"The (curious case of the) Watson Intelligence"</b>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 margin-b-30" style="width:250px;height:250px;">
            <a href="https://api.discountapi.com/v2/deals/775805/click?">
                <img src="https://api.discountapi.com/v2/deals/775805/image?&amp;geometry=250x250C" alt="" class="img-fluid">
                <div class="dealOverlay">
                    <div class="dealOverlayText">
                    <b>Cosultation&nbsp;and&nbsp;One&nbsp;or&nbsp;Three&nbsp;Chiropractic&nbsp;Adjustments&nbsp;at&nbsp;Richard&nbsp;Hall&nbsp;DC&nbsp;(Up to 75% Off)</b>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-3 margin-b-30" style="width:250px;height:250px;">
            <a href="https://api.discountapi.com/v2/deals/724257/click?">
                <img src="https://api.discountapi.com/v2/deals/724257/image?&amp;geometry=250x250C" alt="" class="img-fluid">
                <div class="dealOverlay">
                    <div class="dealOverlayText">
                    <b>Scavenger Hunt Walking Adventure for Two, Four or Six from Operation City Quest (Up to 51% Off) </b>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-3 margin-b-30" style="width:250px;height:250px;">
            <a href="https://api.discountapi.com/v2/deals/737323/click?">
                <img src="https://api.discountapi.com/v2/deals/737323/image?&amp;geometry=250x250C" alt="" class="img-fluid">
                <div class="dealOverlay">
                    <div class="dealOverlayText">
                    <b>$180 Worth of Acupuncture</b>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-3 margin-b-30" style="width:250px;height:250px;">
            <a href="https://api.discountapi.com/v2/deals/718076/click?">
                <img src="https://api.discountapi.com/v2/deals/718076/image?&amp;geometry=250x250C" alt="" class="img-fluid">
                <div class="dealOverlay">
                    <div class="dealOverlayText">
                    <b>One, Two, or Three Brazilian Waxes at Arch Threading Salon (Up to 56% Off)</b>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 margin-b-30" style="width:250px;height:250px;">
            <a href="https://api.discountapi.com/v2/deals/739001/click?">
                <img src="https://api.discountapi.com/v2/deals/739001/image?&amp;geometry=250x250C" alt="" class="img-fluid">
                <div class="dealOverlay">
                    <div class="dealOverlayText">
                    <b>Haircut and Blow-Dry, or Hair-Smoothing Treatment with Optional Haircut at Your Moda Salon (Up to 68% Off)</b>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-3 margin-b-30" style="width:250px;height:250px;">
            <a href="https://api.discountapi.com/v2/deals/625387/click?">
                <img src="https://api.discountapi.com/v2/deals/625387/image?&amp;geometry=250x250C" alt="" class="img-fluid">
                <div class="dealOverlay">
                    <div class="dealOverlayText">
                    <b>10, 20, or 30 Yoga and Fitness Classes at Body Techniques (Up to 72% Off)</b>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-3 margin-b-30" style="width:250px;height:250px;">
            <a href="https://api.discountapi.com/v2/deals/704504/click?">
                <img src="https://api.discountapi.com/v2/deals/704504/image?&amp;geometry=250x250C" alt="" class="img-fluid">
                <div class="dealOverlay">
                    <div class="dealOverlayText">
                    <b>Bay Cruise or Escape from the Rock Cruise from Blue &amp; Gold Fleet at&nbsp;PIER 39&nbsp;(Up to 10% Off)</b>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-3 margin-b-30" style="width:250px;height:250px;">
            <a href="https://api.discountapi.com/v2/deals/645268/click?">
                <img src="https://api.discountapi.com/v2/deals/645268/image?&amp;geometry=250x250C" alt="" class="img-fluid">
                <div class="dealOverlay">
                    <div class="dealOverlayText">
                    <b>Electronics Repair at Mobile Kangaroo (Up to 80% Off). Four Options Available</b>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 margin-b-30" style="width:250px;height:250px;">
            <a href="https://api.discountapi.com/v2/deals/599503/click?">
                <img src="https://api.discountapi.com/v2/deals/599503/image?&amp;geometry=250x250C" alt="" class="img-fluid">
                <div class="dealOverlay">
                    <div class="dealOverlayText">
                    <b>35-Minute Tarot Card Reading or 60-Minute Psychic Reading at Psychic Readings By Audrey (Up to 59% Off) </b>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-3 margin-b-30" style="width:250px;height:250px;">
            <a href="https://api.discountapi.com/v2/deals/590170/click?">
                <img src="https://api.discountapi.com/v2/deals/590170/image?&amp;geometry=250x250C" alt="" class="img-fluid">
                <div class="dealOverlay">
                    <div class="dealOverlayText">
                    <b>One, Three, or Five Drop-In Music Classes, or 7-Week Music Program at Blue Bear School of Music (Up to 48% Off)</b>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-3 margin-b-30" style="width:250px;height:250px;">
            <a href="https://api.discountapi.com/v2/deals/682045/click?">
                <img src="https://api.discountapi.com/v2/deals/682045/image?&amp;geometry=250x250C" alt="" class="img-fluid">
                <div class="dealOverlay">
                    <div class="dealOverlayText">
                    <b>Swedish or Thai Massage with Aromatherapy at Cheeva Thai Massage (Up to 47% Off). Two Options Available.</b>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-3 margin-b-30" style="width:250px;height:250px;">
            <a href="https://api.discountapi.com/v2/deals/660026/click?">
                <img src="https://api.discountapi.com/v2/deals/660026/image?&amp;geometry=250x250C" alt="" class="img-fluid">
                <div class="dealOverlay">
                    <div class="dealOverlayText">
                    <b>Energy Healing or Holistic Health Coaching with Angelique M. Larson (Up to 50% Off). 3 Options Available.</b>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 margin-b-30" style="width:250px;height:250px;">
            <a href="https://api.discountapi.com/v2/deals/706622/click?">
                <img src="https://api.discountapi.com/v2/deals/706622/image?&amp;geometry=250x250C" alt="" class="img-fluid">
                <div class="dealOverlay">
                    <div class="dealOverlayText">
                    <b>Individual or Family Membership, or Admission for Two Adults at Museum of Craft and Design (Up to 48% Off)</b>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-3 margin-b-30" style="width:250px;height:250px;">
            <a href="https://api.discountapi.com/v2/deals/802606/click?">
                <img src="https://api.discountapi.com/v2/deals/802606/image?&amp;geometry=250x250C" alt="" class="img-fluid">
                <div class="dealOverlay">
                    <div class="dealOverlayText">
                    <b>"Clybourne Park"</b>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-3 margin-b-30" style="width:250px;height:250px;">
            <a href="https://api.discountapi.com/v2/deals/673277/click?">
                <img src="https://api.discountapi.com/v2/deals/673277/image?&amp;geometry=250x250C" alt="" class="img-fluid">
                <div class="dealOverlay">
                    <div class="dealOverlayText">
                    <b>Eyelash Extensions at Skin Care by Susan (Up to 67% Off). Three Options Available.</b>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-3 margin-b-30" style="width:250px;height:250px;">
            <a href="https://api.discountapi.com/v2/deals/756100/click?">
                <img src="https://api.discountapi.com/v2/deals/756100/image?&amp;geometry=250x250C" alt="" class="img-fluid">
                <div class="dealOverlay">
                    <div class="dealOverlayText">
                    <b>"The Resting Place" (October 10–November 4)</b>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 margin-b-30" style="width:250px;height:250px;">
            <a href="https://api.discountapi.com/v2/deals/503320/click?">
                <img src="https://api.discountapi.com/v2/deals/503320/image?&amp;geometry=250x250C" alt="" class="img-fluid">
                <div class="dealOverlay">
                    <div class="dealOverlayText">
                    <b>$49 for Headlight Restoration for Both Headlights at Lombard Auto Body ($99 Value)</b>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-3 margin-b-30" style="width:250px;height:250px;">
            <a href="https://api.discountapi.com/v2/deals/708639/click?">
                <img src="https://api.discountapi.com/v2/deals/708639/image?&amp;geometry=250x250C" alt="" class="img-fluid">
                <div class="dealOverlay">
                    <div class="dealOverlayText">
                    <b>Admission for One, Two, or Four to the Wedding Fairs on August 19, September 9, or 23 (Up to 51% Off)</b>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-3 margin-b-30" style="width:250px;height:250px;">
            <a href="https://api.discountapi.com/v2/deals/569089/click?">
                <img src="https://api.discountapi.com/v2/deals/569089/image?&amp;geometry=250x250C" alt="" class="img-fluid">
                <div class="dealOverlay">
                    <div class="dealOverlayText">
                    <b>Town Business Comedy Night Show Through December 18</b>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-3 margin-b-30" style="width:250px;height:250px;">
            <a href="https://api.discountapi.com/v2/deals/721099/click?">
                <img src="https://api.discountapi.com/v2/deals/721099/image?&amp;geometry=250x250C" alt="" class="img-fluid">
                <div class="dealOverlay">
                    <div class="dealOverlayText">
                    <b>Six Laser Hair-Removal Sessions on One Area&nbsp;at Beauty Embellishing by Christi Cheng M.D. (Up to 80% Off)</b>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="space-50"></div>
</div> --}}

