<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<div class="container">
    <h4>{{title}}</h4>

<h4>We value your feedback and want to create a more meaningful workplace for you!</h4>
<h5>Please take 2-3 minutes to answers the questions below.</h5>

<br>

<form action="">

    <ol>
        <li>Performance: I receive regular feedback on my performance and the coaching I receive helps me improve my skills
            and contributions to the organization.
            <br>
            <form action="#">
                <p>
                    <label>
                        <input name="group1" type="radio" checked />
                        <span>Strongly Disagree</span>
                    </label>
                </p>
                <p>
                    <label>
                        <input name="group1" type="radio" />
                        <span>Disagree</span>
                    </label>
                </p>
                <p>
                    <label>
                        <input class="with-gap" name="group1" type="radio" />
                        <span>Neither Agree nor Disagree</span>
                    </label>
                </p>
                <p>
                    <label>
                        <input name="group1" type="radio" disabled="disabled" />
                        <span>Agree</span>
                    </label>
                </p>
                <p>
                    <label>
                        <input name="group1" type="radio" checked />
                        <span>Strongly Agree</span>
                    </label>
                </p>


                <br>
                <li>Culture: I believe our organization promotes the professional growth and development of its employees.
                    <form action="#"></form>
                    <p>
                        <label>
                            <input name="group1" type="radio" checked />
                            <span>Strongly Disagree</span>
                        </label>
                    </p>
                    <p>
                        <label>
                            <input name="group1" type="radio" />
                            <span>Disagree</span>
                        </label>
                    </p>
                    <p>
                        <label>
                            <input class="with-gap" name="group1" type="radio" />
                            <span>Neither Agree nor Disagree</span>
                        </label>
                    </p>
                    <p>
                        <label>
                            <input name="group1" type="radio" disabled="disabled" />
                            <span>Agree</span>
                        </label>
                    </p>
                    <p>
                        <label>
                            <input name="group1" type="radio" checked />
                            <span>Strongly Agree</span>
                        </label>
                    </p>
            </form>

            <br>
            <li>Activity: Please pick this month's activity of choice on the dropdown!</li>
            <br>
            <a class='dropdown-trigger btn' href='#' data-target='dropdown1'>Activity Choices</a>

            <br>
            <!-- Dropdown Structure -->
            <ul id='dropdown1' class='dropdown-content'>
                <li><a href="#!">Office Obstacle Course</a></li>
                <li><a href="#!">Wine Tasting</a></li>
                <li><a href="#!">Basketball Tournament and Pizza Party</a></li>
                <li><a href="#!">Escape Room</a></li>

            </ul>

            </div>
            <br>

            <input type="submit" value="Submit">
    </ol>
</form>

</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.dropdown-trigger');
    var instances = M.Dropdown.init(elems, options);
  });
  </script>

 {{!--
<script type="text/javascript">
    Event.observe(window, 'load', function () {
        var newName = 'Submit';
        if ($('NextButton').nodeName == 'INPUT') {
            $('NextButton').setValue(newName);
        }
        else if ($('NextButtonText').nodeName == 'SPAN') {
            $('NextButtonText').innerHTML = newName;
        }
        else // next button is probably a button
        {
            $('NextButton').innerHTML = newName;
        }
    });
</script> --}}

</body>

</html>