<script src="/js/survey.js"></script>


<h4>We value your feedback and want to create
    a more meaningful workplace for you!</h4>
<h5>Please take a minute to answers the questions below.</h5>
<br>

<form class="create-form">

    <ol>
        <li>Performance: I receive regular feedback on my performance and the coaching
            I receive helps me improve my skills and contributions to the organization.
            <br>
            <form action="#" class="surveyForm">
                <p>
                    <label>
                        <input name="group1" type="radio" value="0" />
                        <span>Strongly Disagree</span>
                    </label>
                </p>
                <p>
                    <label>
                        <input name="group1" type="radio" value="1" />
                        <span>Disagree</span>
                    </label>
                </p>
                <p>
                    <label>
                        <input name="group1" type="radio" value="2" />
                        <span>Neither Agree nor Disagree</span>
                    </label>
                </p>
                <p>
                    <label>
                        <input name="group1" type="radio" value="3" />
                        <span>Agree</span>
                    </label>
                </p>
                <p>
                    <label>
                        <input name="group1" type="radio" value="4" />
                        <span>Strongly Agree</span>
                    </label>
                </p>

                <br>
        <li>Culture: I believe our organization promotes the professional growth and
            development of its employees.

            <p>
                <label>
                    <input name="group2" type="radio" value="5" />
                    <span>Strongly Disagree</span>
                </label>
            </p>
            <p>
                <label>
                    <input name="group2" type="radio" value="6" />
                    <span>Disagree</span>
                </label>
            </p>
            <p>
                <label>
                    <input name ="group2" type="radio" value="7" />
                    <span>Neither Agree nor Disagree</span>
                </label>
            </p>
            <p>
                <label>
                    <input name ="group2" type="radio" value="8" />
                    <span>Agree</span>
                </label>
            </p>
            <p>
                <label>
                    <input name ="group2" type="radio" value="9" />
                    <span>Strongly Agree</span>
                </label>
            </p>

            <br>
        <li>Activity: Please pick this month's activity of choice!</li>
        <p>

            <label>
                <input name ="group3" type="radio" value="10" />
                <span>Office Obstacle Course</span>
            </label>
        </p>
        <p>
            <label>
                <input name ="group3" type="radio" value="11" />
                <span>Wine Tasting</span>
            </label>
        </p>
        <p>
            <label>
                <input name ="group3" type="radio" value="12" />
                <span>Basketball Tournament and Pizza Party</span>
            </label>
        </p>
        <p>
            <label>
                <input name ="group3" type="radio" value="13" />
                <span>Escape Room</span>
            </label>
        </p>
        <button class="engagement">submit</button>
        {{!-- type="submit" value="Submit"> --}}

    </ol>
</form>
</body>

</html>