<h4>We value your feedback and want to create
    a more meaningful workplace for you!</h4>
<h5>Please take a minute to answers the questions below.</h5>
<br>

<form class="create-form">

    <ol>
        <li>Performance: I receive regular feedback on my performance and the coaching
            I receive helps me improve my skills and contributions to the organization.
            <br>
            <form action="#">
                <p>
                    <label>
                        <input name="group1" type="radio" />
                        <span>Strongly Disagree</span>
                    </label>
                </p>
                <p>
                    <label>
                        <input name="group1" name="group1" type="radio" />
                        <span>Disagree</span>
                    </label>
                </p>
                <p>
                    <label>
                        <input class="group1" name="group1" type="radio" />
                        <span>Neither Agree nor Disagree</span>
                    </label>
                </p>
                <p>
                    <label>
                        <input name="group1" name="group1" type="radio" />
                        <span>Agree</span>
                    </label>
                </p>
                <p>
                    <label>
                        <input name="group1" name="group1" type="radio" />
                        <span>Strongly Agree</span>
                    </label>
                </p>

                <br>
        <li>Culture: I believe our organization promotes the professional growth and
            development of its employees.

            <p>
                <label>
                    <input name="group2" name="group2" type="radio" />
                    <span>Strongly Disagree</span>
                </label>
            </p>
            <p>
                <label>
                    <input name="group2" name="group2" type="radio" />
                    <span>Disagree</span>
                </label>
            </p>
            <p>
                <label>
                    <input class="group2" name="group2" type="radio" />
                    <span>Neither Agree nor Disagree</span>
                </label>
            </p>
            <p>
                <label>
                    <input name="group2" name="group2" type="radio" />
                    <span>Agree</span>
                </label>
            </p>
            <p>
                <label>
                    <input name="group2" name="group2" type="radio" />
                    <span>Strongly Agree</span>
                </label>
            </p>

            <br>
        <li>Activity: Please pick this month's activity of choice on the dropdown!</li>
        <p>

            <label>
                <input name="group3" name="group3" type="radio" />
                <span>Office Obstacle Course</span>
            </label>
        </p>
        <p>
            <label>
                <input name="group3" name="group3" type="radio" />
                <span>Wine Tasting</span>
            </label>
        </p>
        <p>
            <label>
                <input class="group3" name="group3" type="radio" />
                <span>Basketball Tournament and Pizza Party</span>
            </label>
        </p>
        <p>
            <label>
                <input class="group3" name="group3" type="radio" />
                <span>Escape Room</span>
            </label>
        </p>
        <input type="submit" value="Submit">

    </ol>
</form>
</body>

</html>